# Default git-crypt
# secretfile filter=git-crypt diff=git-crypt
# *.key filter=git-crypt diff=git-crypt

dotssh/** filter=git-crypt diff=git-crypt
home/** filter=git-crypt diff=git-crypt
install/** filter=git-crypt diff=git-crypt
iterm/** filter=git-crypt diff=git-crypt
save/** filter=git-crypt diff=git-crypt
vscode/** filter=git-crypt diff=git-crypt
